<component name="ArtifactManager">
  <artifact type="war" name="springBoot-dubbo:war">
    <output-path>$PROJECT_DIR$/springBoot-dubbo/target</output-path>
    <root id="archive" name="springBoot-dubbo.war">
      <element id="artifact" artifact-name="springBoot-dubbo:war exploded" />
    </root>
  </artifact>
</component>