<component name="ArtifactManager">
  <artifact type="exploded-war" name="springBoot-dubbo-consumer:war exploded">
    <output-path>$PROJECT_DIR$/springBoot-dubbo-consumer/target/springBoot-dubbo-consumer</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springBoot-dubbo-consumer" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springBoot-dubbo-consumer/target/springBoot-dubbo-consumer/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springBoot-dubbo-consumer/web/Web" />
    </root>
  </artifact>
</component>