<component name="ArtifactManager">
  <artifact type="war" name="springBoot-dubbo-consumer:war">
    <output-path>$PROJECT_DIR$/springBoot-dubbo-consumer/target</output-path>
    <root id="archive" name="springBoot-dubbo-consumer.war">
      <element id="artifact" artifact-name="springBoot-dubbo-consumer:war exploded" />
    </root>
  </artifact>
</component>